.bench__heading {
  display: inline-block;
  vertical-align: middle;
}

.bench__edit {
  display: inline-block;
  padding: rem-calc(4) rem-calc(8);
  margin-left: rem-calc(5);
  font-size: rem-calc(12);
  color: $white;
  vertical-align: text-bottom;

  &:hover, &:focus {
    color: $white;
    background: rgba(0,0,0,.12);
    border-radius: $global-radius;
  }
}

.modal-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;

  .modal-overlay {
    display: block;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dialog {
  margin: rem-calc(8);
}

.benches-content {
  float: left;
}

.bench-list {
  position: absolute;
  z-index: 1000;
  width: rem-calc(260);
  max-height: 450px;
  padding: rem-calc(8) 0;
  margin-top: rem-calc(8);
  overflow: auto;
  color: $black;
  text-align: left;
  list-style: none;
  background-color: $white;
  border-radius: $global-radius;
  box-shadow: 0 3px 6px rgba(0,0,0,.4);

  ul {
    background-color: transparent;
  }
}

.bench__item {
  @include text-truncate();

  padding: 0 rem-calc(8);
  font-weight: 500;
  line-height: rem-calc(32);
  cursor: pointer;

  &:hover {
    background: scale-color(#0072ff, $lightness: 90%);
  }

  time {
    display: block;
    margin-top: rem-calc(-3);
    margin-left: rem-calc(4);
    padding-bottom: rem-calc(8);
    font-size: rem-calc(13);
    line-height: 1;
    color: $dark-gray;
  }
}

@include breakpoint('medium') {
  .dialog {
    width: rem-calc(600);
    margin: rem-calc(15) auto;
  }
}
