.icon {
  display: inline-block;
  width: rem-calc(16);
  height: rem-calc(16);
  vertical-align: text-top;
  cursor: pointer;
  fill: currentColor;
}

.icon--lg {
  width: rem-calc(22);
  height: rem-calc(22);
}
