.pop-bench {
  position: relative;
  padding: rem-calc(12);
  color: $black;
  background: $white;
  border: 1px solid $light-gray;
  border-radius: $global-radius;

  input {
    margin-right: 0;
  }
}

.pop-bench__close {
  position: absolute;
  top: rem-calc(8);
  right: rem-calc(8);
}

.pop-bench__head {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid $light-gray;
}

.pop-bench__footer {
  text-align: right;
}

.pop-bench__content {
  padding-top: $global-padding / 2;
}

.pop-bench__update,
.pop-bench__remove {
  display: none;
}

.pop-bench--remove {
  .pop-bench__remove {
    display: block;
  }
}

.share__heading {
  padding-bottom: $global-margin;
}

.share__note {
  font-size: rem-calc(13);
  color: $dark-gray;
}

.share__content {
  max-height: rem-calc(280);
  margin-bottom: $global-margin;
  overflow-y: auto;
}

.share__label {
  padding-top: $global-padding / 2;
  padding-left: rem-calc(4);
  font-size: rem-calc(16);
  cursor: pointer;
  border-top: 1px solid $light-gray;
}

.pop-bench--save,
.pop-bench--add {
  .pop-bench__update {
    display: block;
  }
}
