.search {
  height: rem-calc(50);
  padding: 8px 50px 8px 1pc;
  margin-bottom: rem-calc(4);
  font-size: rem-calc(18);
  color: $white;
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 0,rgba(0, 0, 0, 0.2) 100%);
  border: 1px solid transparent;

  &:focus {
    background: linear-gradient(to bottom,rgba(50, 50, 50, 0.2) 0,rgba(50, 50, 50, 0.2) 100%);
    border: 1px solid transparent;
  }
}

.search__intro {
  padding-bottom: 2pc;
  font-size: rem-calc(13);
  color: $white;
}

.si {
  font-size: rem-calc(12);
}

.si__head {
  margin-bottom: rem-calc(16);
  overflow: hidden;
}

.si__img {
  float: left;
  margin-right: rem-calc(6);
  width: rem-calc(30);
  height: rem-calc(30);
  padding: rem-calc(1);
  vertical-align: text-top;
  border-radius: $global-radius;
}

.si__description {
  color: $dark-gray;
}

.si__path {
  display: inline-block;
  vertical-align: text-top;

  a {
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.si__code {
  padding: rem-calc(4);
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  background: $white;
  border: 1px solid transparent;
  border-radius: $global-radius;

  &:hover {
    border: 1px solid $blue-light;
  }
}
