.pop-bench {
  position: relative;
  padding: rem-calc(12);
  color: $black;
  text-align: left;
  background: $white;
  border: 1px solid $light-gray;
  border-radius: $global-radius;

  input {
    margin-right: 0;
  }
}

.pop-bench__close {
  position: absolute;
  top: rem-calc(8);
  right: rem-calc(8);
}

.pop-bench__head {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid $light-gray;
}

.pop-bench__content {
  padding-top: $global-padding / 2;
  text-align: right;
}

.pop-bench__update,
.pop-bench__remove {
  display: none;
}

.pop-bench--remove {
  p {
    text-align: left;
  }

  .pop-bench__remove {
    display: block;
  }
}

.share__note {
  text-align: left;
}

.pop-bench--save,
.pop-bench--add {
  .pop-bench__update {
    display: block;
  }
}
