.media {
  overflow: hidden;
}

.media__left {
  float: left;
  width: rem-calc(36);
  height: rem-calc(36);
  padding: rem-calc(1);
  margin-right: rem-calc(6);
}

.media__object {
  border-radius: $global-radius;
}
