.top-bar {
  margin-bottom: 1.5em;
  text-align: center;
}

.logo {
  display: inline-block;
  
  svg {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    fill: $light-gray;
  }

  &:hover {
    svg {
      fill: $white;
    }
  }
}
