.search {
  height: rem-calc(50);
  padding: 8px 50px 8px 1pc;
  margin-bottom: rem-calc(4);
  font-size: rem-calc(18);
  color: $white;
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 0,rgba(0, 0, 0, 0.2) 100%);
  border: 1px solid transparent;

  &:focus {
    background: linear-gradient(to bottom,rgba(50, 50, 50, 0.2) 0,rgba(50, 50, 50, 0.2) 100%);
    border: 1px solid transparent;
  }
}

.search__intro {
  padding-bottom: 2pc;
  font-size: rem-calc(13);
  color: $white;
}

.si {
  font-size: rem-calc(12);
}

.si__head {
  overflow: hidden;
}

.si__img {
  float: left;
  width: rem-calc(36);
  height: rem-calc(36);
  padding: rem-calc(1);
  margin-right: rem-calc(6);
  vertical-align: text-top;
  border-radius: $global-radius;
}

.si__description {
  margin: 0;
  color: $dark-gray;
}

.si__path {
  display: inline-block;
  vertical-align: text-top;

  a {
    font-weight: 700;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.file {
  position: relative;
  font-weight: 700;
}

.file__info {
  @include clearfix();

  margin-top: $global-margin;
}

.file__name {
  display: inline-block;
  float: left;
}

.file__control {
  float: right;
  padding: rem-calc(2) rem-calc(6);
  margin-bottom: rem-calc(2);
  font-size: inherit;
}

.js-github.file__code {
  cursor: pointer;
}

pre.file__code {
  padding: rem-calc(4);
  margin: 0;
  font-family: $body-font-family;
  text-align: center;
}

.unstar {
  display: none;
}

.starred {
  .star {
    display: inline-block;
  }
}
