.bench__heading {
  display: inline-block;
  vertical-align: middle;
}

.bench__edit {
  display: inline-block;
  padding: rem-calc(4) rem-calc(8);
  margin-left: rem-calc(5);
  font-size: rem-calc(12);
  color: $white;
  vertical-align: text-bottom;

  &:hover, &:focus {
    color: $white;
    background: rgba(0,0,0,.12);
    border-radius: $global-radius;
  }
}

.modal-open {
  position: relative;
  overflow: hidden;

  .modal-overlay {
    display: block;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.dialog {
  margin: rem-calc(8);
}

.benches-content {
  float: left;
}

.bench-list {
  top: rem-calc(38);
  min-width: rem-calc(260);
  max-height: 450px;
  list-style: none;

  ul {
    background-color: transparent;
  }
}

.bench__item {
  @include text-truncate();

  time {
    display: block;
    padding-bottom: rem-calc(8);
    margin-top: rem-calc(-3);
    margin-left: rem-calc(4);
    font-size: rem-calc(13);
    line-height: 1;
    color: $dark-gray;
  }
}

.bench__item--active {
  .bench__name {

    &::after {
      display: inline-block;
      margin-left: rem-calc(4);
      font-size: $global-font-size * 1.2;
      color: map-get($foundation-palette, 'success');
      vertical-align: middle;
      content: '\2022';
      border-radius: 50%;
    }
  }
}

@include breakpoint('medium') {
  .dialog {
    width: rem-calc(600);
    margin: rem-calc(15) auto;
  }
}
