.footer {
  text-align: center;
  color: $white;
  padding: $global-padding;

  a {
    display: inline-block;
    color: $white;
    font-weight: 500;
  }
}

.social {
  margin-bottom: $global-margin / 2;
}


.social-button {
  display: inline-block;
  vertical-align: text-top;
}

.social-button__tw {
  margin-left: rem-calc(12);

  svg {
    width: rem-calc(18);
    height: rem-calc(18);
  }
}

.social-button__fb {
  width: 95px;
}
