.search {
  height: rem-calc(50);
  padding: 8px 50px 8px 1pc;
  margin-bottom: rem-calc(4);
  font-size: rem-calc(18);
  color: $white;
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0.2) 0,rgba(0, 0, 0, 0.2) 100%);
  border: 1px solid transparent;

  &:focus {
    background: linear-gradient(to bottom,rgba(50, 50, 50, 0.2) 0,rgba(50, 50, 50, 0.2) 100%);
    border: 1px solid transparent;
  }
}

.search__top {
  position: relative;
}

.search__button {
  position: absolute;
  top: rem-calc(14);
  right: rem-calc(16);
  color: rgba(255, 255, 255, 0.9);
  transform: rotate(90deg);
}

.search__intro {
  padding-bottom: 2pc;
  font-size: rem-calc(13);
  color: $white;
}

.si {
  font-size: rem-calc(12);
}

.si__menu {
  top: rem-calc(24);
  right: 0;
  min-width: rem-calc(150);
}

.si__label {
  position: relative;
  top: rem-calc(1);
  left: rem-calc(3);
}

.file {
  position: relative;
  font-weight: 700;
}

.file__info {
  @include clearfix();

  margin-top: $global-margin;

  .spinner {
    margin-left: rem-calc(5);
  }

  .rect {
    background: $white;
  }
}

.file__name {
  display: inline-block;
  float: left;
}

.file__control {
  float: right;
  padding: rem-calc(2) rem-calc(6);
  margin-bottom: rem-calc(2);
  font-size: inherit;
}

.js-github.file__code {
  cursor: pointer;
}

pre.file__code {
  padding: rem-calc(4);
  margin: 0;
  font-family: $body-font-family;
  text-align: center;
}
