.setup-url {
  margin-bottom: $global-margin;
}

.setup-url__remove {
  font-size: $small-font-size;
  color: $dark-gray;
  text-decoration: underline;

  &:hover, &:focus, &:active {
    color: $black;
  }
}

.setup-url__value {
  @include text-truncate();

  display: inline-block;
  max-width: 90%;
  vertical-align: middle;
}

.setup__heading {
  margin-top: $global-margin / 2;
  font-size: rem-calc(13);
  font-weight: 700;
  line-height: rem-calc(22);
  color: $dark-gray;
}

.sample-share--setup {
  display: none !important;
}
