.top-bar {
  padding: rem-calc(4);
  margin-bottom: 1.5em;
  text-align: center;
}

.top-bar-inner {
  position: relative;
}

.logo {
  display: inline-block;

  svg {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    fill: $light-gray;
  }

  &:hover {
    svg {
      fill: $white;
    }
  }
}
