// *************************************
//
//  Reset
//    -> Custom reset rules
//
// *************************************
html {
  background: #0072ff;
}

html, body {
  height: 100%;
  position: relative;
}

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  padding: 0;
  margin:  0;
}

abbr[title],
dfn[title] {
  cursor: help;
}

body {
  font-size: 14px;
}
